body {
    background-color: #000000; /* Black background */
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1a1a1a;
    color: #ffffff;
}

.statusAvailable {
    background-color: #00cc66; /* Green for available */
    color: #ffffff;
}

.statusReserved {
    background-color: #cc0000; /* Red for reserved */
    color: #ffffff;
}

.timeDisplay {
    font-size: 90px;
    font-weight: bold;
    color: #ffffff;
}
