/*************** Screensaver section ****************/
/* Room name */
.screensaver__container__room-details__name {
text-transform: capitalize;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
line-height: 1.5em;
width: 533.333333333vh;
}
